<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>レシピ一覧</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>レシピ一覧</h1>
    <ul class="recipe-list">
      {% for recipe in recipes %}
      <li class="recipe-item">
        <a href="{{ recipe.url }}" target="_blank">{{ recipe.title }}</a><br />
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-image" />
      </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>